body{
    margin:0;
    padding:0;
}

/* Page container */

#c1{
    min-height:100vh;
    /* padding-top:25px; */
}

/* Login box */

#login-box{
    height:530px;
    width:440px;
    background-color:aliceblue;
    border-radius:10px;
    margin:80px auto;
    /* padding:20px; */
    
    text-align:center;
    color:rgb(37,107,226);
    box-shadow: 0px 0px  30px black;
}

/* Inputs */

.input{
    border:2px solid black;
    margin-top:20px;
    width:350px;
    border-radius:10px;
    height:20px;
    padding:8px;
}
#bothinput{
    margin-top: 10px;
}

/* Login button */

.login-btn{
    width:360px;
    height:40px;
    border-radius:10px;
    background-color:rgba(36, 47, 66, 0.585);
    color:white;
    font-weight:bold;
    /* border:1px solid black; */
    border: none;
    cursor:pointer;
    font-size: larger
}
.login-btn:hover{
    background-color:rgb(37,107,226);
}

/* Links */

.link{
    color:rgb(239, 9, 9);
    text-decoration:none;
}
/* label + icon alignment */

.label-box{
    display:flex;
    align-items:center;
    gap:6px;
    margin-top:18px;
    margin-left:45px;
    color:rgba(6, 6, 7, 0.874);
    font-weight:300;
}

.label-icon{
    font-size:14px;
}
.required{
    color:red;
    /* margin-left:2px; */
}
#login-box h1{
    margin-bottom:5px;
}

