/* NAVBAR CONTAINER */
* {
    transition: all 0.2s ease-in-out;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    background: #020617;
    backdrop-filter: blur(8px);
    color: #E2E8F0;
    border-bottom: 1px solid #334155;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* LEFT SIDE */
#nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

#logo {
    width: 60px;
    height: 55px;
    border-radius: 8px;
     box-shadow: 0 0 10px rgba(56, 189, 248, 0.3);
}

#nav-left h1 {
    font-size: 18px;
    font-weight: 500;
     color: #CBD5F5;
    margin: 0;
}

/* RIGHT SIDE */
#nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* COMMON BUTTON STYLE */
.nav-btn,
.nav-login-btn,
.nav-signup-btn {
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    width: auto;
padding: 8px 16px;
    height: 40px;
    text-align: center;
    backdrop-filter: blur(6px);
    font-weight: 500;
}

/* LOGIN BUTTON */
.nav-login-btn {
    background-color: transparent;
    border: 1px solid #334155;
    color: #E2E8F0;
}

.nav-login-btn:hover {
    background: #38BDF8;
    color: #0F172A;
    border: 1px solid #38BDF8;
    transform: translateY(-2px);
     box-shadow: 0 0 12px rgba(56, 189, 248, 0.5);
}

/* SIGNUP BUTTON */

.nav-signup-btn {
    background: #38BDF8;
    color: #0F172A;
}

.nav-signup-btn:hover {
    background: #0EA5E9;
    transform: translateY(-2px);
     box-shadow: 0 0 12px rgba(56, 189, 248, 0.5);
}
/* LOGOUT BUTTON (reuse .btn) */
.nav-btn {
   
    background: rgba(239, 68, 68, 0.15);
    color: #EF4444;
    border: 1px solid rgba(239, 68, 68, 0.4);
}

.nav-btn:hover {
     background: #EF4444;
    color: white;
    
    transform: translateY(-2px);
}

/* LINKS INSIDE BUTTONS */
.nav-login-btn a,
.nav-signup-btn a,
.nav-btn a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    display: flex;
     justify-content: center; 
    align-items: center;
    gap: 5px;
}

/* REMOVE DEFAULT LINK COLOR */
a {
    text-decoration: none;
}
.dash-home-link {
    color: #38BDF8;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}
.dash-home-link:hover {
    background-color: rgba(56, 189, 248, 0.15);
    transform: scale(1.1);
}
.btn{
    display: flex;
    gap: 15px;
    justify-content: center;
}
