/* NAVBAR CONTAINER */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    background: rgba(249, 247, 247, 0.95);
    backdrop-filter: blur(8px);
    color: #2E21A2;
}

/* LEFT SIDE */
#nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

#logo {
    width: 60px;
    height: 55px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

#nav-left h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

/* RIGHT SIDE */
#nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* COMMON BUTTON STYLE */
.nav-btn,
.nav-login-btn,
.nav-signup-btn {
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    width: 130px;
    height: 40px;
    text-align: center;
}

/* LOGIN BUTTON */
.nav-login-btn {
    background-color: rgba(249, 247, 247, 0.95);;
    border: 1px solid #2E21A2;
    color: #3325b8;
}

.nav-login-btn:hover {
    background: #6b84ff;
    transform: translateY(-2px);
}

/* SIGNUP BUTTON */
.nav-signup-btn {
    background: #4f6cff;
    color: white;
}

.nav-signup-btn:hover {
    background: #dcdcdc;
    transform: translateY(-2px);
}

/* LOGOUT BUTTON (reuse .btn) */
.nav-btn {
    background: #ff4d4d;
    color: white;
}

.nav-btn:hover {
    background: #ff6666;
    transform: translateY(-2px);
}

/* LINKS INSIDE BUTTONS */
.nav-login-btn a,
.nav-signup-btn a,
.nav-btn a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    display: flex;
     justify-content: center; 
    align-items: center;
    gap: 5px;
}

/* REMOVE DEFAULT LINK COLOR */
a {
    text-decoration: none;
}
.dash-home-link{
    color:black;
    width: 40px;
    height: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center; 
    
}
.dash-home-link:hover{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #dcdcdc;
    /* transition: 0.3s; */
   
    
}
.btn{
    display: flex;
    gap: 15px;
    justify-content: center;
}
/* #developer-btn{

    width:60px;

} */